#circularity-page {
  #part1-circular {
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding-right: 65px;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 150px;

    #intro-services {
      padding: 0 0 90px 30px;
      h2 {
        margin-top: 4vw;
      }
      h3 {
        margin-top: 3vw;
      }

      p {
        font-size: unset;
        line-height: unset;
      }
    }
  }
}
